$superLightGray:(rgb(223, 223, 231));
$offwhite:(rgb(247, 247, 250));
$orange:(rgb(252,82,12));
$dark:(rgb(36,36,40));

.activityFeed{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 50px;
}

.feedCard{
  display: flex;
  flex-direction: column;
  padding-left: 1em;
}

.feedCardTop {
  display: flex;
  padding-top: 10px;
}

.feedCardTop-icons{
  display: flex;
  flex-direction: column;
}

.feedCard-data{
  display: flex;
  flex-direction: column;
  padding-left: 1em;
}

.feedCardTop-data{
  // padding-left: 1em;

}

.feedEmail{
  // margin-left: 5%;
  font-size: 14px;
  font-weight: 700;
}

.feedDate{
  padding-top: .5em;
  font-size: 12px;
}

.feedCardMid{
  padding-top: 15px;
}

.runnerIcon{
  font-size: 40px;
}

.fa-user-circle{
  color: rgb(108, 133, 145);
}

.personRunning{
  font-size: 32px;
  margin-left: 4px;
  padding-top: 0.5em;
}

.feedTitle{
  font-size: 22px;
  // margin-left: 6%;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.feedTitle:hover{
  color: gray
}

.feedDescription{
  font-size: 14px;
  // margin-left: 10%;
  padding-top: 1em;
  color: rgb(33, 33, 36);
}

.feedCardLow{
  display: flex;
  padding-top: 1.5em;
}

.feedTime{
  // padding-top: 15px;
  // margin-left: 10%;
  margin-left: 1em;
  border-left: 1px solid $superLightGray;
  padding-left: 1em;  
}
.feed-mid-details-top{
  font-size: 12px;
  padding-bottom: 0.5em;
  color: rgb(98,98,108);
}
.feed-mid-details-top-low{
  font-size: 20px;
  color: rgb(33,33,36);
}

.routefeedImage{
  width: 96%;
  height: 218px;
  margin-top: 50px;
  border: solid 1px $superLightGray;
}



.trophy{
  font-size: 27px;
  margin-left: 215px;
  margin-top: 20px;

}