$superLightGray:(rgb(223, 223, 231));
$orange:(rgb(252,82,12));
$dark:(rgb(36,36,40));
$superdarkgray:(rgb(74,74,80));
$superSuperLightGray:(rgb(246,246,249));

.routeShowAll{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  padding-bottom: 16%;
  margin-right: 18%;
}

.routeShowAll > child{
  padding: 20px 5px;
}
.routeShowTop{
  padding-bottom: 2%;
  position: relative;
  left: 25%;
  padding-top: 2%;
}

.routeShowTop-border{
  background: $superSuperLightGray;
  width: 47%;
  border-radius: 6px;
  padding: 0.5em;
  box-shadow: 0px 8px 24px rgba(13, 13, 18, 0.1);
}

.routeShowHeader{
  display: flex;
  padding-top: 1%;
  padding-bottom: 1%;
  align-items: center;
}

.routeShowHeaderTitle{
  font-size: 34px;
  font-weight: 700;
  line-height: 41px;
}

.routeShowTitleLink {
  text-decoration: none;
  color: black;
}

.routeShowTitleroute{
  font-weight: bold;
}

.routeShowTitle{
  font-size: 12px;
  display: flex;
}

.routeShowTitle h1{
  padding-left: 5.5px;
}

.routesShowEdit{
  background-color: white;
  align-items: center;
  border: 1px solid $superLightGray;
  border-radius: 4px;
  color: #000;
  font-weight: 700;
  padding: 6px 12px;
  margin-left: .5%;
  font-size: 14px;
}

.routesShowEdit:hover{
  cursor: pointer;
  background-color: rgb(238,238,248);
}

.routesShowMain{
  display: flex;
  font-size: 22px;
  position: relative;
  left: 15%;
  
}

#star{
  padding-right: 1%;
  color: $orange;
}

.icon{
    font-size: 40px;
    color: rgb(108,133,145);
  }

#showUserIcon:before{
  font-size: 70px;
  color: rgb(108, 133, 145)
}

.routeShowMap{
  height: 350px;
  width: 45%;
  margin-left: 10%;
  padding-right: 3%;
}



.rtShowExtra{
  padding-left: 2em;
  background: $superSuperLightGray;
  border-radius: 7px;
  margin-left: 2em;
  padding: 1em;
  box-shadow: 0px 8px 24px rgba(13, 13, 18, 0.1);
}



.rtShowExtra-main{
  font-family: sans-serif;
  display: flex;
  border-bottom: 1px solid #f7f7fa;
  padding-bottom: 1em;
}

.rtShowExtra-main-top{
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  padding-top: .5em;
}

.rtShowExtra-main-created {
  font-size: 12px;
  padding-top: 0.6em;
}

.rtShowExtra-main:first-child {
  font-size: 22px;
}

.rtShowExtra-main-mid{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 1em;
  border-bottom: 1px solid #f7f7fa;
  padding-bottom: 1em;
}

.rtShowDesc {
  color: #212124;
  font-size: 14px;
  text-align: center;
  padding-top: 2em;
  
}

.rtShowDistance{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.rtShowDistanceLower {
  font-size: 12px;
}